@import '../../styles/variables';
@import '../../styles/base';

.cover {
  &__container {
    overflow: hidden;
  }
  &__image {
    height: 60vh;
    left: 40%;
    transform: translate(-40%, 0);
    opacity: 0.6;
    overflow: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .cover {
    &__image {
      width: 100%;
      height: auto;
      transform: none;
      max-height: 80vh;
    }
  }
}
