$white: #FFFFFF;
$offwhite: #FBFBFB;
$grey: #AAAAAA;
$darkgrey: #999999;
$black: #333333;
$trans-black: #33333399;
$blue: #65babe;
$light-blue: #b0e1db;
$pink: #f5798a;
$yellow: #f5c938;

$line-thickness: 2px;
$border-radius: 6px;

$cover-font-size-1:68px;

$h1-font-size: 20px;
$h1-line-height: 32px;

$event-font-size: 10px;
$nav-height: 70px;

$p-font-size: 16px;
$p-line-height: 24px;

$team-font-size: 14px;
$team-line-height: 20px;

$primary-font: Roboto, sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$cover-font: 'Merriweather', serif;

html {
  overflow-y: scroll;
  overflow-x: scroll;
}

body{
  display:block !important;
  background: $offwhite;
}
