$white: #FFFFFF;
$offwhite: #FBFBFB;
$black: #333333;
$darkgrey: #999999;
$blue: #65beb7;
$light-blue: #b0e1db;

$line-thickness: 2px;
$border-radius: 6px;

$h1-font-size: 22px;
$h1-line-height: 32px;

$p-font-size: 16px;
$p-line-height: 22px;

$primary-font: Roboto, sans-serif;
$secondary-font: 'Open Sans', sans-serif;

html {
  overflow-y: scroll;
  overflow-x: scroll;
}

body{
  display:block !important;
  background: $offwhite;
}
