@import '../../styles/variables';
$font-stack:    Helvetica, sans-serif;
$primary-color: #ef4378;

.home {
  &__scrollable {
    display: flex;

  }
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  /* align-content: space-between; */
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  text-align: center;
  &__item {
    color: $blue;
    font-weight: 800;
  }
}
