@import '../../styles/variables';

.about {
  &__image {
    width: 70%;
    display: flex;
    margin: 0 auto;
    border-radius:$border-radius;
    margin-bottom: 1rem;
    border: 2px solid $blue !important;
    opacity: 0.95;
  }
}

@media only screen and (min-width: 1024px) {
  .about {
    &__image {
      width: 100%;
    }
  }
}
