@import '../../styles/variables';

.about {
  &__images {
    display: flex;
    overflow-x: scroll;
    list-style: none;
    padding: 0;
  }
  &__image {
    padding-right: 2rem;
    width: 400px;
    max-width: 560px;
    display: flex;
    margin: 0 auto;
    // border-radius:$border-radius;
    margin-bottom: 1rem;
    // border: 2px solid $blue !important;
    opacity: 0.95;
  }
}

// .slick-slide {
//   width: auto !important;
// }

@media only screen and (min-width: 1024px) {
  .about {
    &__image {
      width: 100%;
    }
  }

}
