@import '../../styles/variables';
@import '../../styles/base';
.work {
  &__images {
    display: flex;
    overflow-x: scroll;
    list-style: none;
    padding: 0;
  }
  &__image {
    padding-right: 2rem;
    height: 300px;
    max-width: 560px;
    display: flex;
    margin: 0 auto;
    // border-radius:$border-radius;
    margin-bottom: 1rem;
    // border: 2px solid $blue !important;
    opacity: 0.95;
  }
  &__image-text {
    padding-right: 2rem;
    font-size: 12px !important;
    font-style: italic;
  }
}
